	
body {
	margin: 0px;
	padding-top: 0px;
	font-family: arial;
	text-align:justify;
	line-height: 1.5;	
	/*background-image: url("mars.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;*/
}

.maincanvas{
	border:1px solid #000000;
	border-radius: 0px;

	margin-left: 5px;


}


/* Normal content Container */
.contentcontainers div {
    width:90%;
}

input[type=range][orient=vertical]
{
    writing-mode: tb-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 5px;
    height: 300px;
    padding: 0 0px;
}
input[type=range][orient=horizontal]
{
    writing-mode: rl-tb; /* IE */
    -webkit-appearance: slider-horizontal; /* WebKit */
    width: 5px;
    width: 900px;
    padding: 0 0px;
}


/* For tab */
/* Style the tab */
.tab {
    overflow: hidden;
    margin-left: 15%;
    margin-right:15%;
    border: 0px solid #ccc;
    background-color: white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    
    float: left;
    width:100px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #99cc33;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    margin-left:10%;
    margin-right:10%;
    height:250px;
    transition: 1s;
    padding: 6px 12px;
    border: 1px solid black;

}
.tabbutton {
	border: 1px solid black;
    border-bottom:white;
    border-radius: 0px;
    background-color: #99cc33; 
	/*width:100px;*/
    color: black;
    padding: 7px 5px;
    margin-left:0%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 14px;
    z-index: 1;
}
	
.tabbutton:hover {
    background-color: white; 
    border: 1px solid black;    
    border-bottom:white;
	/*width:100px;*/
    color: black;
    padding: 7px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 14px;
    z-index: 0;
}

	
.tabbutton:focus {
	outline:0;
	background-color: white; 

}
/* End tab */


.container-menu {
    overflow: hidden;
    background-color: #99cc33;
    font-family: arial;
}

.container-menu a {
    float: left;
    margin-left: 10%;
    margin-right:10%;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}



/* For minitab */
/* Style the tab */
.minitab {
    overflow: hidden;
    margin-left: 0%;
    margin-right:0%;
    border: 0px solid #ccc;
    background-color: white;
}

/* Style the buttons that are used to open the tab content */
.minitab button {
    
    float: left;
    width:100px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.minitab button:hover {
    background-color: #99cc33;
}

/* Create an active/current tablink class */
.minitab button.active {
    background-color: #99cc33;
}

/* Style the tab content */
.minitabcontent {
    display: none;
    margin-left:0%;
    /*margin-right:0%;*/
    height:100px;
    transition: 1s;
    padding: 6px 12px;
    border: 0px solid black;

}
.minitabbutton {
	border: 1px solid black;
    border-bottom:white;
    border-radius: 0px;
    background-color: #99cc33; 
	/*width:100px;*/
    color: black;
    padding: 7px 5px;
    margin-left:0%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
    z-index: 10;
}
	
.minitabbutton:hover {
    background-color: white; 
    border: 1px solid black;    
    border-bottom:white;
	/*width:100px;*/
    color: black;
    padding: 7px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
    z-index: 10;
}

	
.minitabbutton:focus {
	outline:0;
	background-color: white; 

}
/* End minitab */


img.sort {
	height:10px;

}

button.sort {
	height:15px;
	width:5px;
	padding:0px;
	float:left;
	cursor: pointer;
	background-color:transparent;
	border:0px;
}
/*

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
*/
.dropdown2 {
    float: left;
    overflow: hidden;
}

.dropdown2 .dropbtn {
    background-color: white;
	border: 0px solid lightgrey;
	width:130px;
    color: black;
    padding: ßpx 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    background-color: white;
	border: 0px solid lightgrey;
	width:30px;
    color: black;
    padding: 0px 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
}

.container-menu a:hover, .dropdown:hover .dropbtn {
    background-color: #99cc33;
	border: 0px solid lightgrey;
	width:30px;
    color: grey;
    transition: 0.3s;
    padding: 0px 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
}

.dropdown-content {
    display: none;
    font-family: arial;
    font-size: 12px;    
	transition: 0.3s;
    position: absolute;
    background-color: grey;
    width: 0%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    transition: 0.3s;
    padding: 0px 0px;
    background-color: grey;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*Second Dropdown menu for additional menus;*/

.dropdown2 {
    
    overflow: hidden;
    margin-left: 5px;
}

.dropdown2 .dropbtn2 {
    background-color: #99cc33;
	border: 1px solid black;
	width:100px;
    color: black;
    padding: 6px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 16px;
}

.container2-menu a:hover, .dropdown2:hover .dropbtn2 {
    background-color: #99cc33;
	border: 1px solid black;
	width:100px;
    color: black;
    transition: 1s;
    padding: 6px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 16px;
}

.dropdown2-content {
    display: none;
    font-family: arial;
    font-size: 14px;    
	transition: 0.3s;
    position: absolute;
    /*border: 0.5px solid black;*/
    background-color: white;
    width:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown2-content a {
    float: none;
    color: black;
    transition: 1s;
    padding: 12px 16px;
    background-color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown2-content a:hover {
    background-color: #99cc33;

}

.dropdown2:hover .dropdown2-content {
    display: block;
}


/*Main headers;*/

h1 { 

	font-size: 36pt;
	font-family: Futura;
	margin-top: 0em;
	margin-bottom: 0em;

}


h3 { 

	font-size: 18pt;
	font-family: Arial;
	margin-top: 0em;
	margin-bottom: 0em;

}
	
h2 { 
	display: block;
	font-size: 16pt;
	font-family: arial;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h4 { 
	display: block;
	font-size: 24pt;
	font-family: Helvetica;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	margin-right: 0;
	font-weight: bold;
}

div.maincontent { 
	word-wrap: break-word;
	text-align: justify;
	margin-left:0px;
	margin-top:0pt;
}
	
div.creditline { 
	font-size: 8pt;
	font-family: arial;
	font-style: italic;
	color:white;
	padding: 5px;
	width: 100%;
	background-color:black;
	position: fixed;
    bottom: 0;
    text-align: left;
	
}

	
/* List menus - used in top and left title bars*/
	
ul.topmenu_ul {
	list-style-type:none;
	margin-top:0px;
	color: black;
	width:100%;
	padding:0px 0px 0px 0px;
	background-color:#99cc33;
	/*position:absolute;*/
	/*top: 0;
	position: fixed;*/
	overflow:hidden;
	z-index:1;
	/*border-bottom: 2px solid darkblue;*/		
}

ul.topmenu_ul a.active {
    background-color: #2196F3;
    color: black;
}
	
li.topmenu_ul {
	display:inline;
}	

		
ul.exminerals_ul {
	list-style-type:none;
	font-size: 12pt;
	font-family: arial;
	margin-left: 20px;
	padding: 3px;
	width: 7%;
	background-color:grey;
	position:fixed;
	top:50%;
	border: 0px solid darkblue;
}

ul.info_ul {
	list-style-type:none;
	font-size: 12pt;
	color:white;
	font-family: arial;
	margin-left: 78%;
	padding: 9px;
	width: 18%;
	background-color:#73AD21;
	position:fixed;
	top:20%;
	border: 0px solid darkblue;
}

ul.contact_ul {
	list-style-type:none;
	font-size: 14pt;
	color:white;
	font-family: arial;
	margin-left: 15%;
	padding: 20px;
	width: 65%;
	background-color:#73AD21;
	position:fixed;
	top:20%;
	border: 0px solid darkblue;
}

ul.index_ul {
	list-style-type:none;
	width: 70%;
	margin:auto;
	background-color:white;
	position:absolute;
	top:200px;
	left:15%;
	font-size: 24pt;
	font-style:italic;
	font-family: arial;
	text-align:center;
	opacity:0.5;
}	
		
/* Tables */
	

table.datatable, thead tr th td {
	margin:auto;
	height:400px;
	overflow-y:auto;
	border: 1px;
	color:black;		
	background: transparent;
	font-size: 12pt;
	padding: 5px;
	text-align:justify;		
}


table.learn, thead tr th td {
	margin:auto;
	width:100%;
	height:100px;
	overflow-y:auto;
	border: 1px solid black;
	color:black;		
  	border-collapse: collapse;
	background: transparent;
	font-size: 12pt;
	padding: 5px;
	text-align:justify;	
}

table.learn tr {
	  border: 1px solid black;
}

table.learn td {
	  border: 1px solid black;
	  width:50%;
	  padding: 15px;
}



table.team, thead tr th td {
	margin:auto;
	width:100%;
	height:100px;
	overflow-y:auto;
	border: 0px solid black;
	border-spacing: 20px 1rem;
	color:black;		
	background: transparent;
	font-size: 14pt;
	font-family: helvetica;
	padding: 5px;
	text-align:justify;	
}

table.team tr {
	  border: 1px solid black;
}

table.team td {
	  border: 0px solid black;
	  border-radius: 15px;
	  background: #F5F5F5;
	  width:50%;
	  padding: 15px 15px 15px 15px;
}

.team td:hover {
	border: 0px solid black;
	color:black;		
	background: silver;
	font-size: 14pt;
	text-align:justify;	
}

/* Blearn links */
	
.learnlink {
	border: none;
	color: blue;
    text-align: left;
    text-decoration: none;
	font-family: arial;
    font-size: 16px;
}
	
.learnlink:hover {
    border: none;
	color: red;
    text-align: left;
    text-decoration: none;
	font-family: arial;
    font-size: 16px;
}
	
.learnlink:focus {
	outline:0;
}


img.team {
  float: right;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* Below we define the colour of all of the hyperlinks */
	
	/* Side Menu */
a.sidemenu:link, a.sidemenu:visited {
	background-color: white;
	color: orange;
	padding: 3px 21px;
	text-align: center; 
	text-decoration: none;
	font-size: 12pt;
	display: inline-block;
}

a.sidemenu:hover, a.sidemenu:active {
	background-color: white;
}

a.contact:link, a.contact:visited {
	background-color: #73AD21;
	color: white;
	padding: 3px 3px;
	text-align: center; 
	text-decoration: none;
	font-size: 16pt;
	font-weight: bold;
	display: inline-block;
}

a.contact:hover, a.contact:active {
	background-color: darkblue;
}	
a.hashtag:link, a.hashtag:visited {
	background-color: white;
	color: blue;
	padding: 0px 0px;
	text-align: center; 
	text-decoration: none;
	font-size: 12pt;
	display: inline-block;
}

a.hashtag:hover, a.hashtag:active {
	background-color: white;
}
	
	/* Header Titles */
a.title:link, a.title:visited {
	background-color: transparent;
	color: black;
	/*width:100px;*/
	padding: 21px 14px;
	text-align: center; 
	font-family: arial;
	text-decoration: none;
	font-size: 12pt;
	/*font-weight: regular;*/
	display: inline-block;
}

a.title:hover, a.title:active {
	background-color: white;
	color: black;
}




/* Button */
	
.buttonminerals {
	background-color: white; 
    border: none;
	width:100px;
    color: blue;
    padding: 7px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
}
	
.buttonminerals:hover {
    background-color: darkblue; 
    border: none;
	width:100px;
    color: white;
    padding: 7px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
}
	
.buttonminerals:focus {
	outline:0;
}
	
/* Clear all Button */
	
.buttonclear {
	background-color: #99cc33; 
    border: 1px solid black;
	width:100px;
	height:30px;
    color: black;
    padding: 0px 0px 0px 0px;
    text-align: middle;
    text-decoration: none;
    word-wrap: normal;
	font-family: arial;
    font-size: 12px;
    border-radius: 0px;
}
	
.buttonclear:hover {
    background-color: white; 
    border: 1px solid black;
	width:100px;
	height:30px;
    color: black;
    word-wrap: break-word;
    padding: 0px 0px 0px 0px;
    text-align: middle;
    text-decoration: none;
    display: inline-block;
	font-family: arial;
    font-size: 12px;
    border-radius: 0px;
}
	
.buttonclear:focus {
	outline:0;
}

/* Expander Container */
	
.container {
    width:80%;
    border:0px solid #d3d3d3;
	margin-left:10%;
}
.container div {
    width:100%;
}
.container .header {
    background-color:white;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
	background-color:white;
    display: none;
    padding : 5px;
	margin-left:5px;
	margin-right:5px;
}


/* Filtertables */
table.tablesorter {
	font-family:arial;
	background-color: #99cc33;
	margin:0px 0pt 0px;
	font-size: 12pt;
	width: 80%;
	text-align: left;
	border-radius: 0px; 
	border: 2px solid white; 
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: transparent;
	color:white;
	border: 0px solid;
	border-bottom:2pt solid white;
	text-align:left;
	font-size: 12pt;
	padding: 8px;
	
}
table.tablesorter thead tr .header_2 {
	background-image: url(filter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	
	cursor: pointer;

}
table.tablesorter tbody td {
	color: black;
	padding: 4px;
	background-color: white;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:white;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(filter/asc_2.gif);
	background-repeat: no-repeat;
	background-position: 80% 50%;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(filter/desc_2.gif);
	background-repeat: no-repeat;
	background-position: 80% 50%;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: darkblue;
	color:white;
	
}


